@media (max-width: 991px) {

    div#cryptosegment {
        flex-wrap: wrap;
    }

    .invest.input, h1.ui.inverted.ifinvested.header {
        /* width: 49%; */
    }

    h1.ui.inverted.investedin.header, h1.ui.inverted.investedon.header {
        /* width: 10%; */
        /* padding-left: 5px; */
    }

    .ui.dropdown {
        min-width: unset !important;
        min-width: 90% !important;
        /* margin-left: -10%; */
        /* padding-left: 10%; */
    }

    input#investDate {
        /* min-width: unset !important; */
        /* min-width: 90% !important; */
    }

    button.ui.calculate.button {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

}

body {
    /* height: unset; */
}

.hero-section {
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
}

.w-container {
    max-width: unset;
}

.text-block {
    padding-right: 0px;
}

.result-container {
    text-align: center;
}

.ui.search.selection.dropdown {
    display: table;
    min-width: 300px;
    color: white;
    background-color: transparent;
}

.ui.selection.dropdown:hover {
    border-color: transparent;
}

.ui.search.dropdown>.text {
    font-size: 2rem;
    color: white !important;
}

img.ui.avatar.image {
    max-height: 1.5em !important;
}

input#investDate {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: white;
    text-align: right;
}

div#cryptosegment {
    display: flex;
    justify-content: space-between;
}

div#cryptosegment > h1, div#cryptosegment > .dropdown {
    margin: auto;
}

.invest.input {
    color: white;
    font-size: 2rem;
}

input.investedAmount {
    color: white !important;
}

.ui.transparent[class*="left icon"].input>input {
    padding-left: 30px!important
}

input.investedAmount {
    width: 140px;
}

button.ui.calculate.button {
    margin-top: 50px;
    margin-bottom: 50px;
}