.hero-section {
    padding-top: 0;
    padding-bottom: 0;
}

.result-container {
    text-align: center;
}

.ui.search.selection.dropdown {
    display: table;
    min-width: 300px;
    /* border: none;
    background: transparent;
    color: white; */
}

div#cryptosegment {
    display: flex;
    justify-content: space-between;
}

div#cryptosegment > h1, div#cryptosegment > .dropdown {
    margin: unset;
}

.invest.input {
    color: white;
    font-size: 2rem;
}

input.investedAmount {
    color: white !important;
}

.ui.transparent[class*="left icon"].input>input {
    padding-left: 30px!important
}

input.investedAmount {
    width: 140px;
}

button.ui.calculate.button {
    margin-top: 50px;
    margin-bottom: 50px;
}